.app{
    text-align: center;
}

.app__form{
    padding: 20px;
    position: fixed;
    bottom: 20px;
    z-index: 1;
    width: 90%;
    border-radius: 50px;
    padding-left: 27px;
    right: 0;
    left: 0;
    background: #e9e9eb;
}

.app__formControl{
    display: flex !important;
    flex-direction: row !important;
}
.app__input{
    flex: 1;
}
.app__iconButton{
    flex: 0 !important;
}

header img{
    max-width: 100px;
}